{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <header>
        <h1>{% trans 'Your Blog' %}</h1>
        {% if user.is_authenticated %}
        <a href="#">{% trans 'Profile' %}</a>
        <a href="{% url 'logout_view' %}">{% trans 'Logout' %}</a>
        {% else %}
        <a href="{% url 'signup_view' %}">{% trans 'SignUp' %}</a>
        <a href="{% url 'login_view' %}">{% trans 'LogIn' %}</a>
        {% endif %}

    </header>    
    <nav>
        <a href="#">{% trans 'Home' %}</a>
        <a href="#">{% trans 'Categories' %}</a>
        <a href="#">{% trans 'About' %}</a>
        <a href="#">{% trans 'Contact' %}</a>
    </nav>
    <main>

    {% block content %}
    {% endblock %}
    </main>

    
    <footer>
        <p>&copy; 2023 Your Blog Name. All rights reserved.</p>
    </footer>
</body>
</html>
