{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <header>
        <h1>{% trans 'Blog' %}</h1>
        {% if user.is_authenticated %}
        <a href="{% url 'profiles:profile_detail_view' user.slug %}">{% trans 'Profile' %}</a>
        <a href="{% url 'logout_view' %}">{% trans 'Logout' %}</a>
        {% else %}
        <a href="{% url 'signup_view' %}">{% trans 'SignUp' %}</a>
        <a href="{% url 'login_view' %}">{% trans 'LogIn' %}</a>
        {% endif %}

    </header>    
    <nav>
        <a href="{% url 'core:index_view' %}">{% trans 'Home' %}</a>
        <a href="{% url 'posts:post_create_view' %}">{% trans 'New Acticle' %}</a>
        <a href="{% url 'core:contacts_view' %}">{% trans 'Contact' %}</a>
    </nav>

    <div class="search-panel">
        <form class="search-form" action="{% url 'posts:post_search_view' %}" method="get">
            <input type="search" class="search-input" placeholder="Search..." name="q">
            <button type="submit" class="search-button">{% trans 'Search' %}</button>
        </form>
    </div>

    <main>

    {% block content %}
    {% endblock %}

    </main>

    
    <footer>
        <p>&copy; <script type="text/javascript">
            document.write(new Date().getFullYear());
            </script> Ilya Bulatau Blog. All rights reserved.</p>
    </footer>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</body>
</html>
