<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load socialaccount %}
{% load i18n %}

{% block title %} {% trans 'LogIn Page' %} {% endblock %}
{% block content %}
<div>
    <a href="{% url 'index:index_view' %}">{% trans 'Home' %}</a>
</div>
<br>

<h1>{% trans 'LogIn Page' %}</h1>

<form action="" method="post">

    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit">{% trans 'Log In' %}</button>
    <br>
    <br>
    <div>
        <a href="{% url 'signup_view' %}">{% trans 'SignUp' %}</a>
    </div>
    <br>

    <div>
        <a href="{% provider_login_url 'github' %}">GitHub</a>
    </div>
</form>
{% endblock %}
