{% extends 'base/base.html' %}
{% load socialaccount %}
{% load i18n %}

{% block title %} {% trans 'SignUp Page' %} {% endblock %}
{% block content %}
<div>
    <a href="{% url 'index:index_view' %}">{% trans 'Home' %}</a>
</div>
<br>

<h1>{% trans 'Signin Process' %}</h1>
<br><br>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit">{% trans 'Sign Up' %}</button>
</form>
<br>
<br>
<div>
    <a href="{% url 'login_view' %}">{% trans 'LogIn' %}</a>
</div>
<br>

<div>
    <a href="{% provider_login_url 'github' %}">GitHub</a>
</div>
{% endblock %}
