{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Profile' %} {{ user.slug }} {% endblock %}

{% block content %}

<div class="profile">
    <div class="profile-header">
        {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="User Profile Picture" width="180" height="180">
        {% else %}
        <img src="{% static 'images/empty_avatar.png' %}" alt="User Profile Picture" width="180" height="180">
        {% endif %}
        <div>
            <h2>{% trans 'Username' %}: {{ user.username }} </h2>
            <h3>{% trans 'Blogs' %}</h3>
            <ul>
                <li><a href="#">Blog Title 1</a></li>
                <li><a href="#">Blog Title 2</a></li>
                <!-- Add more blog links as needed -->
            </ul>
            
        </div>
    </div>
    
    
    <div>
        <h4>{% trans 'Contacts' %}</h4>
        <ul>
            <li><p>GitHub: link</p></li>
            <li><p>Telegram: link</p></li>
            <li><p>LinkdIn: link</p></li>
            <li><p>Phone: number</p></li>
        </ul>
    </div>
    <div>
        <h3>{% trans 'About Me' %}</h3>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
    </div>

{% endblock %}
