{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Profile' %} {{ user.slug }} {% endblock %}

{% block content %}

<div class="profile">
    <div class="profile-header">
        {% if user_obj.avatar %}
        {% static  user_obj.avatar.url%}
        <img src="{{ user_obj.avatar.url }}" alt="User Profile Picture" width="180" height="180">
        {% else %}
        <img src="{% static 'images/empty_avatar.png' %}" alt="User Profile Picture" width="180" height="180">
        {% endif %}
        <div>
            <h2>{% trans 'Username' %}: {{ user_obj.username }} </h2>
            {% if user_obj.slug == user.slug %}
            <a class="update-button" href="{% url 'profiles:profile_update_view' user_obj.slug %}">{% trans 'Update' %}</a>
            {% endif %}
            <div>
                <h3>{% trans 'Acticles' %}: {{ user_obj.posts.all|length }}</h3>
                {% if user_obj.posts.all %}
                <span><a href="{% url 'posts:post_user_view' user_obj.slug %}" class="user_posts_view">View</a></span>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if user_obj.networks.all %}
    <div>
        <h4 class="contacts">{% trans 'Contacts' %}</h4>
            {% for network in user_obj.networks.all %}
            {% if network.is_active %}
            <a href="{{ network.link }}"><img src="{% static network.logo %}" alt="{{ network.name }}" width="40" height="40"></a>
            {% endif %}
            {% endfor %}
    </div>
    {% endif %}

    {% if user_obj.about %}
    <div>
        <h3>{% trans 'About Me' %}</h3>
        <p>{{ user_obj.about }}</p>
      
    </div>
    {% endif %}

{% endblock %}
