{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Update' %} {{ user.slug }} {% endblock %}

{% block content %}

<form method="post" class="form_update" enctype='multipart/form-data'>
    {% csrf_token %}

    <h2>User Profile</h2>
    {{ form.as_div }}
    {{ newtorks_form.as_div }}
    <button type="submit">{% trans 'Submit' %}</button>
    <a href="{% url 'profiles:profile_detail_view' user.slug %}" class="cancel">{% trans 'Cancel' %}</a>

</form>

{% endblock %}
