{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans 'Contacts' %} {% endblock %}

{% block content %}

<div class="contact-container">
    <h1>{% trans 'Contact Information' %}</h1>
    <p><strong>{% trans 'Name' %}:</strong> {{ name }}</p>
    <p><strong>{% trans 'About' %}:</strong> {{ about }}</p>
    <p><strong>{% trans 'Email' %}:</strong><a class="email-con" href="mailto:ilyabulatau@gmail.com">ilyabulatau@gmail.com</a> </p>
    <p>
        <strong>{% trans 'Location' %}:</strong> 
        <div id="yandex-map" style="width: 600px; height: 400px"></div>
        
    </p>
    <strong> {% trans 'Social Media' %}</strong>
    <p>
        {% for social in socials %}
            <a href="{{ social.link }}"><img src="{{ social.image }}" alt=""></a>
        {% endfor %}
    </p>
    <p><a class="a-con" href="https://cloud.mail.ru/public/VQmg/fodYryXSu" download><strong>{% trans 'Download CV' %}</strong></a></p>
<script src="https://api-maps.yandex.ru/v3/?apikey={{ apiKey }}&lang=ru_RU"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/vanilla.js' %}"></script>
{% endblock %}