{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}Index{% endblock %}
{% block content %}

    {% for post in posts %}
    <div class="blog-post">
        <h2>{{ post.title }}</h2>
        <div class="tags">
            <span>{{ post.tag.name }}</span>
        </div>
        <p>Views {{ post.views_set.all | length }}</p>
        <p>{% trans 'Published on' %}: <span>{{ post.created_on|date }}</span></p>
        <p>{% trans 'Author' %}: {{ post.author.username  }}</p>
        
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post Image">
        {% endif %}
        
        <p>{{ post.content|safe }}</p>
    </div>
    {% endfor %}
    
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

{% endblock %}