{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}Index{% endblock %}
{% block content %}

    {% for post in posts %}
    <div class="blog-post">
        <h2>{{ post.title }}</h2>
        <div class="tags">
            <span>{{ post.tag.name }}</span>
        </div>
        <p>Views {{ post.views_set.all | length }}</p>
        <p>{% trans 'Published on' %}: <span>{{ post.created_on }}</span></p>
        <p>{% trans 'Author' %}: {{ post.author.username  }}</p>
        <p>{{ post.content }}</p>
    </div>
    {% endfor %}


{% endblock %}