{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}Index{% endblock %}
{% block content %}

    <div class="blog-post">
        <h2>Blog Post Title 1</h2>
        <p>Published on: <span>April 1, 2023</span></p>
        <p>This is the content of your blog post. You can add text, images, and other media here.</p>
    </div>


    <div class="blog-post">
        <h2>Blog Post Title 2</h2>
        <p>Published on: <span>April 5, 2023</span></p>
        <p>This is another blog post. Customize the content as per your needs.</p>
    </div>

{% endblock %}