{% extends 'base/base.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Index{% endblock %}</title>
</head>
<body>
    
    {% block content %}
    
        <div class="blog-post">
            <h2>Blog Post Title 1</h2>
            <p>Published on: <span>April 1, 2023</span></p>
            <p>This is the content of your blog post. You can add text, images, and other media here.</p>
        </div>


        <div class="blog-post">
            <h2>Blog Post Title 2</h2>
            <p>Published on: <span>April 5, 2023</span></p>
            <p>This is another blog post. Customize the content as per your needs.</p>
        </div>

    {% endblock %}
</body>
</html>